@*@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "The home page of my website";
}*@
<div class="text-center">
    <h1>Home</h1>
</div>
@section Scripts {
    @*Insert any script tags for this page here*@
}