@*@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "The home page of my website";
}*@
<div class="">
    <div class="col-sm-8">

        <h2>Awesome Ass Patient with some mental Probs</h2>
        <div class=" well">
            <h3>Add them Here</h3>
        </div>
    </div>
    <div class="col-sm-4">
        <h2>Info</h2>
        <div class="well">
            <h3>A bunch of info Brah</h3>
        </div>
    </div>
    <div class="col-sm-offset-8 col-sm-4">
        <h2>Hospitals</h2>
        <div class="well">
            Daring Hospitals
        </div>
    
    </div>
</div>
@section Scripts {
    @*Insert any script tags for this page here*@
}