
@model LeagueAppReal.Models.ViewModels.SummonerViewModel
@{
    //ViewData["Title"] = "League of Legends";
    ViewData["Description"] = "Profile";
}


    <div class="text-center">
        <h2>Team Builds</h2>
        <a asp-controller="Home" asp-action="LeagueofLegends" class="btn btn-lg btn-success">Look up</a>
    </div>

